.navbar {
  border: 1px solid black;
  height: 45px;
  border-radius: 4px;
  margin: 5px 2px;
}

.navbar:hover {
  box-shadow: 2px 2px 2px rgb(216, 224, 226);
}

.navbar p {
  display: inline;
  margin: 10px 15px;
  font-family: "Archivo", serif;
  font-size: 12px;
}

.tabs {
  position: absolute;
  right: 15px;
  top: 8px;
}

.tabs a {
  padding-right: 15px;
}

p:hover {
  font-weight: 600;
}

.archivo-name {
  font-family: "Archivo", serif;
  font-size: 108px;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "width" 100;
}

.archivo-name:hover {
  font-weight: 660;
}

.archivo-dev {
  font-family: "Archivo", serif;
  font-size: 96px;
  font-weight: 300;
  font-style: normal;
  color: rgb(207, 205, 205);
  font-variation-settings: "width" 100;
  margin: 0 0 -35px 25px;
}

.archivo-dev:hover {
  font-weight: 400;
}

.container {
  text-align: left;
  height: 100%;
}

.main-card-container {
  display: flex;
  margin: 60px 0 0 0;
}

.cards-container-1 {
  border-top: 1.2px solid black;
  height: 350px;
  width: 160px;
  margin-right: 60px;
}

.cards-container-1:hover {
  margin-right: 57px;
  margin-top: -3px;
}

.cards-container-2 {
  border-top: 1.2px solid black;
  height: 350px;
  width: 360px;
  margin-right: 20px;
}

.cards-container-2:hover {
  margin-right: 18px;
  margin-top: -3px;
}

.cards-container-1 p {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 4px;
}

.cards-container-2 p {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 4px;
}

#low-weight {
  font-weight: 400;
  margin-bottom: 36px;
}

a {
  font-size: 12px;
  font-weight: 500;
  text-decoration: none !important;
}

#low-weight-1 {
  font-weight: 400;
  margin-bottom: 36px;
}

.card-image-1 {
  height: 260px;
  width: 160px;
  text-align: center;
}

.card-image-2 {
  height: 260px;
  width: 360px;
}

.card-image-1 img {
  height: 240px;
  width: 120px;
  align-self: auto;
}

.card-image-2 img {
  height: 240px;
  width: 360px;
}

.main-card-container {
  display: flex;
}

.title-container {
  margin-top: 25px;
}
