/* About me */
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  position: static;
}

.nav-item:nth-child(1) {
  margin-left: auto;
}

.nav-item:nth-child(2) {
  margin-right: 20px;
}

.presentation {
  width: 500px;
  padding: 300px 0 200px 0;
  margin-left: 160px;
}

.presentation p {
  font-size: larger;
}

.hello {
  margin-bottom: 0;
}

.icons {
  margin: 10px 10px 40px 0;
  padding-bottom: 30px;
}

.fa-linkedin {
  padding-left: 4px;
}

.fa-envelope {
  padding: 10px 0 0 15px;
}

h5:hover {
  margin-left: -2px;
}
