/* About me */
.presentation {
  word-wrap: break-word;
  width: 20dvw;
  margin: 30dvh auto;
}

.presentation h5 {
  font-size: 18px;
}

.hello {
  margin-bottom: 0;
}

.icons {
  margin: 10px 10px 40px 0;
  padding-right: 45px;
  display: flex;
  justify-content: flex-end;
}

.fa-linkedin {
  padding-left: 4px;
}

.fa-envelope {
  padding: 10px 0 0 15px;
}

h5:hover {
  margin-left: -2px;
}

h5 {
  font-family: "Archivo", serif;
}
