/* Connect Clique */
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  position: sticky;
  top: 0;
}

.nav-item:nth-child(1) {
  margin-left: auto;
}

.nav-item:nth-child(2) {
  margin-right: 20px;
}

.container-connect {
  width: 100%;
  margin: 0 0;
  display: flex;
}

.column {
  height: 92dvh;
  width: 50%;
  border: 1px solid red;
}

#column-1 {
  position: sticky;
  top: 25px;
}

#connect-title {
  font-size: 58px;
  letter-spacing: -3px;
  font-family: "Archivo", serif;
  padding-left: 3dvw;
}

#column-2 {
  height: 192dvh;
}
