/* Connect Clique */
.body-connect {
  background-color: rgb(240, 229, 169);
  /*background-color: rgb(172, 184, 184);*/
}

.navbar-connect {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  position: sticky;
  top: 0;
  background-color: white;
  border: white;
  border-radius: 4px;
  font-family: "Archivo", serif;
  font-size: 14px;
  font-weight: bold;
}

.nav-item:nth-child(1) {
  margin-left: auto;
}

.nav-item:nth-child(2) {
  margin-right: 20px;
}

.container-connect {
  width: 90%;
  height: 165dvh;
  margin: 5dvh auto;
  display: flex;
  background-color: white;
}

.column {
  height: 110dvh;
  width: 50%;
}

#column-1 {
  position: sticky;
  top: 25px;
}

#connect-title {
  font-size: 58px;
  letter-spacing: -3px;
  font-family: "Archivo", serif;
  padding-left: 3dvw;
}

#column-2 {
  height: 140dvh;
}

.square {
  width: 90%;
  height: 50%;
  margin-top: 8dvh;
}

#square-1 {
  background-color: rgb(16, 16, 16);
}

#square-2 {
  background-color: rgb(184, 178, 172);
}
