/* Connect Clique */
.body-connect {
  background-color: rgb(240, 229, 169);
  /*background-color: rgb(172, 184, 184);*/
}

.navbar-connect {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  position: sticky;
  top: 0;
  background-color: white;
  border: white;
  border-radius: 4px;
  font-family: "Archivo", serif;
  font-size: 14px;
  font-weight: bold;
  z-index: 2;
  border: 0.2px solid rgb(240, 229, 169);
}

.nav-item:nth-child(1) {
  margin-left: auto;
}

.nav-item:nth-child(2) {
  margin-right: 20px;
}

.title-box {
  width: 90%;
  height: fit-content;
  margin: 8dvh auto;
  background-color: white;
  margin-bottom: 0;
  padding-top: 1dvh;
  border-bottom: 0.1px solid rgb(240, 229, 169);
  position: sticky;
  top: 2dvh;
  z-index: 1;
}

#connect-title {
  font-size: 68px;
  letter-spacing: -3px;
  font-family: "Archivo", serif;
  padding-left: 2dvw;
  margin-bottom: 0;
  margin-top: 4dvh;
  padding-bottom: 2dvh;
  color: 16, 16, 16;
}

.container-connect {
  width: 90%;
  height: 145dvh;
  margin: 0 auto 5dvh auto;
  display: flex;
  background-color: white;
}

.column {
  height: 110dvh;
  width: 50%;
}

#column-1 {
  position: sticky;
  top: 18dvh;
  height: fit-content;
}

.description-connect {
  padding-inline: 2dvw;
  font-family: "Roboto Mono", monospace;
  color: rgb(16, 16, 16);
  font-weight: 100;
  font-size: 18px;
  width: 38dvw;
  line-height: 1.5;
  margin-top: -1dvh;
  :hover {
    font-weight: 100;
  }
}

.info-connect {
  margin-top: 12dvh;
  padding: 2dvw;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  line-height: 1.8;
  width: 40dvw;
  letter-spacing: -1.2px;
  font-weight: 400;
  :hover {
    font-weight: 400;
  }
}

.info-connect p {
  margin-bottom: 4dvh;
}

.info-connect strong {
  font-weight: 600;
  :hover {
    font-weight: 600;
  }
}

#column-2 {
  height: 145dvh;
}

.square {
  width: 97%;
  height: 45%;
  margin-top: 4dvh;
}

#square-1 {
  background-color: rgb(16, 16, 16);
  overflow: hidden;
  margin-top: 2dvh;
}

#square-2 {
  background-color: rgb(184, 178, 172);
  display: flex;
  background-image: url("../../images/Group\ 9\ \(1\).svg");
  background-size: contain;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  background-position: 10% 40%;
}

#mock-1 {
  margin: 6dvh 0 1dvh 0;
}

#mockup-column-2 {
  margin: -21dvh 1dvw 0 1dvw;
}

#mockup-column-3 {
  margin: -7dvh 0;
}

.gallery {
  display: flex;
  gap: 10px;
  margin-left: 4dvw;
}

.square-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
}

.square-column img {
  width: 10dvw;
  border-radius: 6px;
  object-fit: cover;
  border: 1.5px solid rgb(240, 229, 169);
  border-radius: 26px;
}

.square-info {
  width: 10dvw;
  height: 8dvw;
  padding-top: 2dvh;
}

.square-info p {
  color: rgb(240, 229, 169);
  font-family: "Archivo", serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.6px;
}

#app {
  font-size: 10px;
  font-weight: 100;
  letter-spacing: 3.6px;
  margin-top: -1dvh;
}

.stack-connect {
  display: flex;
  gap: 8px;
  margin-top: 12dvh;
  & img {
    width: 40px;
    height: 40px;
  }
}

.container-2 {
  display: flex;
  flex-direction: column;
  font-family: "Archivo", serif;
  background-color: white;
  width: 90%;
  margin: 0 auto 5dvh auto;
}

.cards-container-connect {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  width: 90%;
  margin: 0 auto 5dvh auto;
  border-radius: 6px;
}

.card-connect {
  width: 12%;
  border-radius: 6px;
  border: 0.2px solid rgb(240, 229, 169);
  padding: 1dvw;
  font-size: 12px;
  text-align: center;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  & img {
    width: 50px;
  }
}

#developed {
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.8px;
  margin-block: 4dvh;
}

.foot {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto 5dvh auto;
  background-color: white;
  & a {
    font-weight: 100;
    font-size: 10px;
  }
}

.section-connect {
  display: flex;
  justify-content: space-between;
  padding: 2dvw;
}

#sonia {
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -1px;
}

.boxes-footer {
  display: flex;
  gap: 25px;
  margin: 2dvh 4dvw;
}

.box {
  font-family: "Archivo", serif;
  font-size: 11px;
  display: flex;
  padding: 0 1dvw;
  border-left: 0.2px solid black;
  flex-direction: column;
  & p {
    margin-block: 0.5dvh;
    letter-spacing: 1.2px;
    font-weight: 100;
  }
}

.box p:hover {
  cursor: pointer;
}

.last-foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.2px solid rgb(240, 229, 169);
  padding: 1dvh 2dvw 2dvh 2dvw;
  font-weight: 100;
  font-size: 10px;
  font-family: "Archivo", serif;
}
