.body-index {
  background-color: rgb(16, 16, 16);
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  position: static;
  border: 1px solid black;
  border-radius: 4px;
  justify-content: flex-end;
  background-color: white;
}

.nav-item:nth-child(1) {
  margin-left: auto;
}

.nav-item {
  margin-right: 20px;
  font-weight: 600;
}

.navbar:hover {
  box-shadow: 2px 2px 2px rgb(216, 224, 226);
}

.navbar p {
  font-family: "Archivo", serif;
  font-size: 14px;
  font-weight: bold;
}

.tabs {
  position: relative;
  left: 94dvw;
}

.archivo-name {
  font-family: "Roboto Mono", monospace;
  font-size: 96px;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "width" 100;
  position: relative;
  top: -12dvh;
  letter-spacing: -4px;
  padding-left: 30px;
}

.archivo-dev {
  font-family: "Archivo", serif;
  font-size: 96px;
  font-weight: 100;
  font-style: normal;
  color: rgb(29, 29, 29);
  font-variation-settings: "width" 100;
  position: relative;
  top: 2dvh;
  left: 4dvw;
  letter-spacing: 10px;
}

.container-index {
  flex-direction: column;
  width: 90%;
  margin: 8dvh auto 5dvh auto;
  display: flex;
  background-color: white;
}

.main-card-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  margin-right: 3dvw;
  gap: 2dvw;
}

.cards-container-1 {
  border-top: 1.3px solid black;
  width: 21%;
}

.cards-container-1:hover {
  cursor: pointer;
}

.cards-container-2 {
  border-top: 1.3px solid black;
  width: 21%;
}

.cards-container-3 {
  border-top: 1.3px solid black;
  width: 21%;
}

.cards-container-2:hover {
  cursor: pointer;
}

.cards-container-3:hover {
  cursor: pointer;
}

.cards-container-1 p {
  font-family: "Archivo", serif;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 4px;
}

.cards-container-2 p {
  font-family: "Archivo", serif;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 4px;
}

.cards-container-3 p {
  font-family: "Archivo", serif;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 4px;
}

#low-weight {
  font-weight: 400;
  margin-bottom: 36px;
}

a {
  color: black;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none !important;
  font-family: "Archivo", serif;
  margin-top: 5px;
}

#low-weight-1 {
  font-weight: 200;
  margin-bottom: 36px;
  letter-spacing: 2px;
}

.card-image-1 {
  display: flex;
  justify-content: center;
  background-color: rgb(240, 229, 169);
  & img {
    object-fit: contain;
    padding: 2dvh;
  }
}

.card-image-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(184, 178, 172);
  & img {
    object-fit: contain;
    padding: 3dvh;
  }
}

.card-image-3 {
  width: 100%;
}

.card-image-1 img {
  height: 30dvh;
  width: 8dvw;
  align-self: auto;
}

.card-image-2 img {
  height: 25dvh;
  width: 18dvw;
}

.card-image-3 img {
  width: 100%;
}

.title-container {
  margin-top: -20px;
  margin-left: 20px;
}

.foot {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: -5dvh auto 5dvh auto;
  background-color: white;
  border: 0.2px solid rgb(184, 178, 172);
  & a {
    font-weight: 100;
    font-size: 10px;
  }
}

.section-connect {
  display: flex;
  justify-content: space-between;
  padding: 2dvw;
}

#sonia {
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -1px;
}

.boxes-footer {
  display: flex;
  gap: 25px;
  margin: 2dvh 4dvw;
}

.box {
  font-family: "Archivo", serif;
  font-size: 11px;
  display: flex;
  padding: 0 1dvw;
  border-left: 0.2px solid black;
  flex-direction: column;
  & p {
    margin-block: 0.5dvh;
    letter-spacing: 1.2px;
    font-weight: 100;
  }
}

.box p:hover {
  cursor: pointer;
}

.last-foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.2px solid rgb(184, 178, 172);
  padding: 1dvh 2dvw 2dvh 2dvw;
  font-weight: 100;
  font-size: 10px;
  font-family: "Archivo", serif;
}
