.container {
  width: 75dvw;
  margin: 20dvh auto;
}

h1 {
  font-family: "Archivo", serif;
  font-size: 28px;
  font-weight: 600;
}

.description {
  word-wrap: break-word;
  margin: 5dvh auto;
}

.description p {
  font-family: "Archivo", serif;
  font-size: 14px;
  font-weight: 400;
  text-align: start;
  width: 35dvw;
  line-height: 1.6;
}

.cards {
  margin: 20dvh auto;
  display: flex;
  justify-content: center;
}

.card-1 {
  width: 22dvw;
  border: 0.2px solid black;
  border-radius: 28px;
  font-size: small;
  font-family: "Archivo", serif;
  font-weight: 600;
}

.card-1 p {
  margin-left: 15px;
}

.inner-card {
  height: 25dvh;
  width: 22dvw;
  border-top: 0.5px solid black;
  background-image: url("../../images/Screenshot\ 2025-06-16\ at\ 17.58.35.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.div-hover {
  opacity: 0;
}

p:hover {
  font-weight: 400;
}

.stack {
  display: flex;
  gap: 5px;
  margin: 15px 0 15px 15px;
}

.lang {
  border: 0.2px solid black;
  padding: 6px;
  border-radius: 16px;
}

.lang p {
  margin: 0 auto;
}

.card-1:hover .inner-card {
  background-color: rgba(15, 40, 72, 0.9);
  background-image: none;
}

.card-1:hover .div-hover {
  background-color: rgba(15, 40, 72, 0.9);
  opacity: 1;
  color: white;
  line-height: 1.8;
  font-size: 14px;
  margin: 0 auto;
  font-weight: 400;
}

.card-1:hover {
  background-color: rgba(15, 40, 72, 0.9);
}
