/* Portable Parenting */

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  position: static;
}

.nav-item:nth-child(1) {
  margin-left: auto;
}

.nav-item:nth-child(2) {
  margin-right: 20px;
}

.card-container-pp img {
  height: 22dvh;
  width: 22dvw;
  margin-right: 20px;
  box-shadow: 6px 4px 4px rgb(216, 224, 226);
}

.card-container-pp img:hover {
  position: relative;
  margin-top: -2px;
  margin-left: -2px;
}

.container-cards-pp {
  display: flex;
  height: 40dvh;
  width: 100%;
  justify-content: center;
  margin-top: 10dvh;
}

.container-summary {
  margin-top: 0;
  padding: 0 auto;
}

.container-title {
  height: 20dvh;
}

.portable-app {
  font-family: "Archivo", serif;
  font-size: 80px;
  font-weight: 400;
  font-style: normal;
  color: rgb(207, 205, 205);
  font-variation-settings: "width" 100;
  padding-top: 15px;
  padding-left: 30px;
  margin-left: 45px;
  margin-bottom: 0;
}

.portable-name {
  font-family: "Archivo", serif;
  font-size: 96px;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "width" 100;
  padding-left: 25px;
  margin: -15px 0 0 25px;
}
